<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Portier &ndash; Error</title>
    <link rel="stylesheet" href="static/style.css" />
  </head>
  <body>
    <div class="flex-container">
      <div class="form-container">
        <h1 class="head">{{ intro }}</h1>
        <aside>
          <br />
          {{# error }}
          <p>
            <span class="subtitle-white">{{ reason }}: {{ error }}</span>
          </p>
          {{/ error }}
          <p>
            <span class="subtitle-white">{{ explanation }}</span>
          </p>
          {{# ref }}
          <p>
            <code>[REF:{{ ref }}]</code>
          </p>
          {{/ ref }}
          <br />
          <span class="powered-by-btn">
            Powered by
            <a href="https://portier.github.io">Portier</a>
          </span>
        </aside>
      </div>
    </div>
  </body>
</html>
