<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>User dashboard</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="flex-container">
      <div class="form-container">
        <h1 class="head">Session details:</h1>
        <br />
        <br />
        <span class="subtitle-white">
          Connected as:
          {{user}}
        </span>
        <form
          name="logoutForm"
          action="/logout"
          method="post"
          style="margin: 0;"
        >

          <br />
          <input type="submit" value="Logout" class="submit-btn" />
        </form>
      </div>
    </div>
  </body>
</html>
