<div class="bottom-bar">
        <span class="subtitle-white no-select">
          Connected as:
          <p> {{user}} </p>
        </span>
        <form
          name="logoutForm"
          action="/logout"
          method="post"
          style="margin: 0; display: flex; align-items: center;"
        >
<button type="submit" method="post" class="cursor-pointer whitespace-nowrap rounded-none bg-red-500 px-4 py-2 text-sm font-medium tracking-wide text-black transition hover:opacity-75 text-center focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-500 active:opacity-100 active:outline-offset-0 disabled:opacity-75 disabled:cursor-not-allowed dark:bg-red-500 dark:text-black dark:focus-visible:outline-red-500">Logout</button>
        </form>
      </div>
    </div>
  </div>
  </div>
</body>
</html>
